/*
Variables
*/

$color: #6a9955;
$color-title: #6a9955;
$color-subtitle: rgb(107, 107, 107);
$color-text-hover: black;
$color-text-light: rgb(224, 224, 224);
// Dark theme
$color-dark-text: white;
$color-dark-background: #171717;
$color-dark-header-background: #575757;
$color-dark-footer-background: #575757;
$color-dark-hover: #4b4b4b;
// Light theme
$color-light-text: black;
$color-light-background: white;
$color-light-header-background: #dfdfdf;
$color-light-footer-background: #e9e9e9;
$color-light-hover: #e0e0e0;
// Flash messages
$errors-background: rgba(255, 30, 30, 0.350);
$errors-text:red;
$sucesses-background:rgba(154, 243, 82, 0.350);
$sucesses-text:rgb(91, 202, 0);
// Button
$color-btn: grey;
$color-btn-active: #6a9955;
//Transition
$duration-shorter: 0.2s;
$duration-short: 0.4s;
$duration-med: 0.6s;
$duration-long: 1s;
// Design
$border: 1px solid $color;
$border-radius: 5px;
$border-radius-top: 5px 5px 0 0;
$depth-shadow-4: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.132),
0 0.3px 0.9px 0 rgba(0, 0, 0, 0.108) !default;
$depth-shadow-8: 0 3.2px 7.2px 0 rgba(0, 0, 0, 0.132),
0 0.6px 1.8px 0 rgba(0, 0, 0, 0.108) !default;
$depth-shadow-16: 0 6.4px 14.4px 0 rgba(0, 0, 0, 0.132),
0 1.2px 3.6px 0 rgba(0, 0, 0, 0.108) !default;
$depth-shadow-64: 0 25.6px 57.6px 0 rgba(0, 0, 0, 0.22),
0 4.8px 14.4px 0 rgba(0, 0, 0, 0.18) !default;

/*
Mixins
*/

@mixin theme ($color, $color-text, $color-title, $color-subtitle, $color-background, $color-header-background, $color-footer-background, $color-text-hover, $border-radius) {
    color: $color-text;
    background-color: $color-background;
    a {
        color: $color;
    }
    header {
        background-color: $color-header-background;
        box-shadow: $depth-shadow-16;
        .header-title {
            color: $color-title;
        }
        nav {
            a {
                &::after {
                    background-color: $color;
                }
                &:hover {
                    color: $color-text-hover;
                }
            }
        }
    }
    .flash-messages {
        border-radius: $border-radius;
        box-shadow: $depth-shadow-8;
        &.errors {
            background-color: $errors-background;
            color: $errors-text;
        }
        &.sucesses {
            background-color: $sucesses-background;
            color: $sucesses-text;
        }
    }
    .lang {
        &__fr,
        &__en {
            color: $color;
        }
    }
    .content {
        &__title {
            color: $color-title;
        }
        &__subtitle {
            color: $color-subtitle;
        }
    }
    .article {
        &__title {
            color: $color-title;
            &::after {
                background-color: $color;
            }
        }
    }
    aside {
        .social {
            border-radius: $border-radius;
            background-color: $color-header-background;
            box-shadow: $depth-shadow-8;
            &:hover {
                box-shadow: $depth-shadow-16;
            }
        }
    }
    form {
        box-shadow: $depth-shadow-8;
        &:hover {
            box-shadow: $depth-shadow-16;
        }
        fieldset {
            border: $border;
            .form-group {
                label {
                    color: $color-text;
                }
                input {
                    border: $border;
                }
            }
        }
    }
    button {
        color: $color-text;
        border: $border;
        background-color: $color-background;
        &:hover {
            box-shadow: $depth-shadow-16;
        }
    }
    footer {
        background-color: $color-footer-background;
        border-radius: $border-radius-top;
        .me {
            color: $color-title;
        }
    }
    hr {
        border: $border;
        border-radius: $border-radius;
        background-color: $color;
    }
    article.article {
        h1,
        h2,
        h3,
        h4,
        h5 {
            &::after {
                background-color: $color-text-light;
                border-radius: $border-radius;
            }
        }
        pre {
            background-color: $color-header-background;
            box-shadow: $depth-shadow-8;
        }
    }
    .card {
        background-color: $color-header-background;
        box-shadow: $depth-shadow-8;
        transition: box-shadow $duration-shorter;
        &__thumb {
            background-color: black;
        }
        &__title {
            color: $color;
            .card:hover & {
                animation: titleBlur $duration-shorter;
            }
        }
        &__subtitle {
            color: $color;
            .card:hover & {
                animation: subtitleBlur $duration-shorter;
            }
        }
        &:hover {
            box-shadow: $depth-shadow-16;
        }
        &__body {
            background-color: $color-header-background;
            transition: height $duration-shorter;
        }
        &__description {
            color: $color-text;
            transition: opacity $duration-shorter - 0.1s, transform $duration-shorter - 0.1s;
        }
        &__date {
            color: $color-text;
            background-color: $color;
        }
        &__footer {
            color: $color-text;
        }
    }
    @media screen and(max-width: 800px) {
        header {
            nav {
                i {
                    color: $color;
                }
                ul {
                    background-color: $color-header-background;
                }
            }
        }
    }
}