footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    height: 4%;
    min-height: 30px;
    .me {
        display: flex;
        flex-direction: row;
        font-size: 0.8rem;
    }
    .lang {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        &__fr,
        &__en {
            padding: 0 5px;
            font-size: 1rem;
            text-transform: uppercase;
            cursor: pointer;
        }
    }
}