footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    height: 5%;
    .me {
        display: flex;
        flex-direction: row;
        font-size: 0.8rem;
        padding: 5px 0;
    }
    .lang {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        &__fr,
        &__en {
            padding: 5px;
            font-size: 1.2rem;
            text-transform: uppercase;
            cursor: pointer;
        }
    }
}