extends layout

block content
    article.article
        if (post)
            | #{post.title}
            | !{post.text}
        hr
        #disqus_thread
        script.
            var disqus_config = function () {
                this.page.url = `http://localhost:3000/projects/post/#{id}`;  
                this.page.identifier = '#{id}'; 
            };
            (function() {
                var d = document, s = d.createElement('script');
                s.src = 'https://esteban-s-website.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();