extends layout

block content
    .content
        .content__title #{i18n.__("posts.create.title")}
        .dashbord
            form(action="/projects/posts/store", method="POST")
                fieldset
                    .form-group.title-input
                        label(for="title") Title
                        input(type="text", name="title", id="title",placeholder="title")
                    .form-group.description-input
                        label(for="description") Description
                        input(type="text", name="description", id="description",placeholder="description")
                    .form-group.text-input
                        label(for="content") Content
                        textarea(name="text", id="text", cols="30", rows="10", placeholder="text")
                    .form-group.username-input
                        label(for="username") Username
                        input(type="text", name="username", id="username",placeholder="username")
                    .form-group.button-input
                        button(type="submit") Submit
                        button(type="reset") Reset