extends layout

block content
  header
    nav
    .lang
      .lang__fr fr
      .lang__en en
  .content
    .content__title &lt; hello world &gt;
    .content__subtitle coming soon...

block append foot
  script(src="javascripts/index.js")

    