extends layout

block content
  div(class="main")
    div(class="lang")
      div(class="langFR") FR
      div(class="langEN") EN
    div(class="content")
      div(class="content__title") < Hello World >
      
      div(class="content__subtitle") coming soon...

    script(src="javascripts/file.js")

    