extends layout

block content
  main.content
    .content__title #{i18n.__("lang.title")}
    .lang
      for lang in langs
        a(href="/lang/" + lang class="lang__btn") #{lang}
    
block scripts
  script(src="/javascripts/toggleBtn.js")