doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Titillium+Web')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.dark
    block header
    header
      nav
        a(href="/") #{i18n.__("layout.home")}
        a(href="/projects") #{i18n.__("layout.projects")}
        a(href= "/about") #{i18n.__("layout.about")}
      .container
        .container__toggle-btn
         .container__toggle-btn__inner-cercle

    block content
    block foot
      footer
        .me
          a(href="/about/me") Est&eacute;ban SOUBIRAN
        .lang
          a(href="/fr" class="lang__fr") fr
          a(href="/en" class="lang__en") en
      script(src="/javascripts/toggleBtn.js")

