extends layout

block content
    main.content
        form(action="", method="post")
            .form-groupe.password-input
                    label(for="name") Name
                    input(type="text", name="name", id="name",placeholder="name")
            .form-groupe.password-input
                    label(for="password") Password
                    input(type="password", name="password", id="password",placeholder="password")
            .form-groupe.button-input
                    button(type="submit") Submit
                    button(type="reset") Reset
