extends layout.pug

block content
    main.page
        aside
            .social
                a(href="https://github.com/Barbapapazes/", title="GitHub Profile", target="_blank")
                    img(src="/img/social/github-icon.png", alt="GitHub Profile")
                a(href="https://www.linkedin.com/in/esteban25/", title="LinkedIn Profile", target="_blank")
                    img(src="/img/social/linkedin-icon.png", alt="LinkedIn Profile")
                a(href="https://www.instagram.com/estebansoubiran/", title="Instagram Profile", target="_blank")
                    img(src="/img/social/instagram-icon.png", alt="Instagram Profile")
        .page__content
            block page
