extends layout

block content
    main.content
        .content__title #{i18n.__("projects.title")}
        .content__subtitle #{i18n.__("projects.subtitle")}
        for post in posts
            a(href=post.url) #{post.title}