form {
    display: flex;
    margin: 20px;
    height: auto;
    fieldset {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
        margin: 0;
        padding: 0;
        legend {
            text-transform: uppercase;
            margin: 0 0 10px 10px;
            padding: 0;
        }
        .en_input,
        .fr_input {
            display: flex;
            flex-direction: column;
            .lang_title {
                align-self: center;
                text-transform: uppercase;
            }
        }
        .lang_input {
            display: flex;
            flex-direction: row;
            margin-top: 10px;
        }
        .form_group {
            text-transform: capitalize;
            & :first-child {
                margin-top: 10px;
            }
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 10px 10px 10px;
            label {
                font-weight: 700;
            }
            input {
                padding: 3px;
            }
            .genre_list {
                display: flex;
                justify-content: space-around;
                align-items: center;
                height: auto;
                flex-wrap: wrap;
                .input {
                    label {
                        margin: 0;
                        padding: 5px;
                    }
                    .checkbox-input {
                        margin: 0;
                        padding: 5px;
                    }
                }
            }
            &.button_input {
                & :first-child {
                    margin-bottom: 10px;
                }
                button {
                    text-transform: uppercase;
                    width: 100%;
                    font-weight: 700;
                    cursor: pointer;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    form {
        fieldset {
            .lang_input {
                flex-direction: column;
            }
        }
    }
}