@media screen and (max-width: 450px) {
    .content {
        &__title {
            font-size: 3rem;
        }
    }
}

@media screen and (max-height: 600px) {
    .content {
        height: 92%;
    }
}

@media screen and (max-height: 380px) {
    .content {
        height: 88%;
    }
}