.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 96%;
    &__title {
        font-weight: 200;
        font-size: 4rem;
        text-transform: capitalize;
    }
    &__subtitle {
        font-size: 1.5rem;
    }
}